BaseClasses/BaseClasses.xcodeproj/project.xcworkspace/contents.xcworkspacedata
BaseClasses/BaseClasses.xcodeproj/project.xcworkspace/xcuserdata/Will.xcuserdatad/UserInterfaceState.xcuserstate
BaseClasses/BaseClasses.xcodeproj/xcuserdata/Will.xcuserdatad/xcschemes/BaseClasses.xcscheme
BaseClasses/BaseClasses.xcodeproj/xcuserdata/Will.xcuserdatad/xcschemes/xcschememanagement.plist
